@using Microsoft.AspNetCore.Identity
@using ElectronicsStore.Areas.Identity.Data

@inject SignInManager<ElectronicsStoreUser> SignInManager
@inject UserManager<ElectronicsStoreUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectronicsStore</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectronicsStore.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  
</head>
<body>
      @if (IsSectionDefined("header"))
    {
        @RenderSection("header",false)
    }
       else
    {
           <partial name="_LoginPartial"/>

<div class="search-bar-wrapper">

    <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index"><p>Razor Store</p></a>
 @*    <form asp-action="Index" method="get">
  <div class="search-bar">
             
      <input value="@ViewData["CurrentSearch"]" placeholder="Enter Your Search Key..."/><button type="submit">Search</button>
   
  </div>
     </form>*@
            @if (IsSectionDefined("searchbar"))
            {
                @RenderSection("searchbar",false)
            }
            else
            {
                @*searhbar*@
                    <form asp-action="Index" method="get">
     <div class="form-group">
         
         <input type="text"  name="Search" value="@ViewData["CurrentSearch"]" />
         <input type="submit"  value="Search" class="btn btn-primary" />
      </div>
 </form>
  
            }
        
</div>
    
<nav>
  <ul>
    <li class="link">
      <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="link">
      <a asp-area="" asp-controller="Home" asp-action="Index">Contact Us</a>
    </li>
    <li class="link">
      <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
    </li>
    
 @if (SignInManager.IsSignedIn(User))
  { 
    <li class="link">
      <a asp-area="" asp-controller="Item" asp-action="Index">Manage Items</a>
    </li>
    <li class="link">
      <a asp-area="" asp-controller="Item" asp-action="Create">Create Item</a>
    </li>
   } 
  </ul>
</nav>
    }
 
   

@*    <div class="container">
*@        <main role="main" class="pb-3">
            @RenderBody()
            @if (IsSectionDefined("css"))
             {
              RenderSection("css");
             }

            
        </main>
@*    </div>
*@
    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ElectronicsStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
  
 


    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer",false)
    }
    else
    {
        <footer>
      <div class="newsletter-section">
        <div class="newsletter-sub-container">
         @* <div class="prompt">
              <p>Sign Up For Newsletters</p>
              <p>Be the first to know. Sign Up Today!</p>
          </div>
          
          <label>
            <input />
            <button>Sign Up</button>
          </label>*@
          <h1>Electronics Store </h1>
          <h4>A place where u can find what you desire </h4>

        </div>
      </div>
  
      <div class="foot-container">
        <div class="foot-links-section">
          <div class="foot-links">
            <div class="ftl-main-container">
              <div class="ftl-sub-container">
  
                <span class="title our-info">Electronics Store</span>
                <ul>
                  <li>We are a dedicated team of market experts and developers supplying our clients with the best products out there</li>
                  <li>Address: 4710-4890 Breckinridge St, Fayetteville</li>
                  <li>Email: support@hasthemes.com</li>
                  <li>Call Us: (+800)123456789</li>
                </ul>
              </div>
  
            </div>
  
            @*<div class="ftl-main-container links">
              <div class="ftl-sub-container">
                <span class="title">Information</span>
  
                <ul class="site-info">
                  <li><span>About Us</span></li>
                  <li><span>Secure Payment</span></li>
                  <li><span>contact us</span></li>
                  <li><span>sitemap</span></li>
                  <li><span>stores</span></li>
                </ul>
              </div>
            </div>
  
            <div class="ftl-main-container links">
              <div class="ftl-sub-container">
                <span class="title">Useful Links</span>
  
                <ul>
                  <li><span>legal notice</span></li>
                  <li><span>Bargains</span></li>
                  <li><span>new products</span></li>
                  <li><span>shop history</span></li>
                  <li><span>login</span></li>
                </ul>
              </div>
            </div>
  
            <div class="ftl-main-container links">
              <div class="ftl-sub-container">
                <span class="title">Categories</span>
      
                <ul>
                  <li><span>Coolants</span></li>
                  <li><span>Audio and Video</span></li>
                  <li><span>Gaming</span></li>
                  <li><span>Monitors</span></li>
                </ul>
              </div>
            </div>*@
          </div>
  @*
          <div class="pns">
            <div class="payment">
              <span>Payment:</span>
              <img src="./payment.jpg" alt="">
            </div>
            <div class="socials">
              <span>Follow Us:</span>
              <img src="./socials.jpg" alt="">
            </div>
          </div>*@
      
          <div class="copyright">
            <span>Copyright 2022 <strong>©Electronics Store</strong>. All Rights Reserved</span>
          </div>
        </div>
      </div>
    </footer>
    }
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
