@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Index";
}

@model List<ElectronicsStore.Models.Items>


    <h1>Items</h1>

    <table>
        <thead>
            <tr>
                
                <th>Item id</th>
               <th>Item Image</th>
                <th>ItemStatus</th>
                <th>ItemDescription</th>
                <th>Condition</th>
                <th>Amount</th>
                <th>Price per Item</th>
                <th>brand</th>
             
                
                

            </tr>
        </thead>
        <tbody>
        @foreach(var items in Model)
        {
            
                <td>@items.ItemId</td>
                <td> <img src="~/Images/@items.ItemImage"/></td>
                <td>@items.ItemStatus</td>
                <td>@items.ItemDescription</td>
                <td>@items.Condition</td>
                <td>@items.Amount</td>
                <td>@items.PricePerItem</td>
                <td>@items.brand</td>

                

                <td>
              <a href="/Item/details/@items.SellerId" class=" btn btn-outline-info">Details</a>
            </td>
            
            <td>
                <a href="/Item/Update/@items.ItemId" class=" btn btn-outline-primary">uPDATE</a>
            </td>
            <td>
                @*<a href="/product/delete/@seller.SellerId" class=" btn btn-outline-danger">Delete</a>*@

            </td>
             
        }
        </tbody>
        
    </table>q