@{
    ViewData["Title"] = "Index";
}

@model List<ElectronicsStore.Models.Items>



    @section css {
    <link href="@Url.Content("~/css/HomeCss.css")" rel="stylesheet"/>
}
@* <form asp-action="Index" method="get">
     <div class="form-group">
         <label for="Search">Search by Brand</label>
         <input type="text"  name="Search" value="@ViewData["CurrentSearch"]" />
         <input type="submit" value="Search" class="btn btn-primary" />
      </div>
 </form>*@

  <main>
    <table>
        <thead>
          <tr>
            <th>Item Image</th>
            <th>Item Name</th>
            <th>ItemStatus</th>
            <th>ItemDescription</th>
            <th>Condition</th>
            <th>Amount</th>
            <th>Unit price</th>
            <th>brand</th>
            <th>Seller Email</th>
            <th>Seller Phonenumber</th>
          </tr>
        </thead>
        <tbody>
        @foreach(var items in Model)
        {
          <tr>
            <td> <img src="~/Images/@items.ItemImage"/></td>
            <td>@items.ItemName</td>
            <td>@items.ItemStatus</td>
            <td>@items.ItemDescription</td>
            <td>@items.Condition</td>
            <td>@items.Amount</td>
            <td>@items.PricePerItem</td>
            <td>@items.brand</td>
            <td>@items.SellerEmail</td>
            <td>@items.SellerPhonenumber</td>
          </tr>
        }
        </tbody>
    </table>
  </main>
