@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>*@

    @section css {
    <link href="@Url.Content("~/css/SignupCss.css")" rel="stylesheet"/>
}
@section searchbar{}

 <div class="form-wrapper">

    <div class="welcome-wrapper">
      <div class="welcome-section">
        <div class="text">
          <p class="title">welcome!</p>
          <p class="promo">have all you shoppping needs met with guaranteed satisfaction in one place!</p>
        </div> 
      </div>
    </div>

    
    <div class="signup-wrapper">
      <div class="signup-section">
        <div class="text">
          <p class="title">sign up</p>

          <div class="create-acc">
            <p>already have an account?</p> 
            <a  asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">log in</a>
          </div>

          <p>it will take less than a minute</p>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
          <div asp-validation-summary="All" class="text-danger"></div>

          <div>
            <input placeholder="First name" asp-for="Input.SellerFname"/>
            <span asp-validation-for="Input.SellerFname" class="text-danger"></span>
          </div>

          <div>
            <input placeholder="last name" asp-for="Input.SellerLname"/>
            <span asp-validation-for="Input.SellerLname" class="text-danger"></span>
          </div>

          <div>
            <input placeholder="date of birth" asp-for="Input.SDOB"/>
            <span asp-validation-for="Input.SDOB" class="text-danger"></span>
          </div>

          <div>
            <input placeholder="username" asp-for="Input.SUsername"/>
            <span asp-validation-for="Input.SUsername" class="text-danger"></span>
          </div>

          <div>
            <input type="password" placeholder="password" asp-for="Input.SPassword"/>
            <span asp-validation-for="Input.SPassword" class="text-danger"></span>
          </div>

          <button class="sign-up-btn" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</main>
<div class="row">

    @*<div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.SellerFname"></label>
                <input asp-for="Input.SellerFname" class="form-control" />
                <span asp-validation-for="Input.SellerFname" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.SellerLname"></label>
                <input asp-for="Input.SellerLname" class="form-control" />
                <span asp-validation-for="Input.SellerLname" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.SDOB"></label>
                <input asp-for="Input.SDOB" class="form-control" />
                <span asp-validation-for="Input.SDOB" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.SUsername"></label>
                <input asp-for="Input.SUsername" class="form-control" />
                <span asp-validation-for="Input.SUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SPassword"></label>
                <input asp-for="Input.SPassword" class="form-control" />
                <span asp-validation-for="Input.SPassword" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Register</button>
        </form>*@


    </div> 
    
    @*<div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
